/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #000;
    color: #fff; /* optional, so text is visible */
    height: 100%;
    margin: 0;
  }
  /* You can add global styles to this file, and also import other style files */
